@import url("../profile/user-account.css");

.notice{
    background-color: lightblue;
    font-weight: 500;
    color: var(--info-color);
    font-size: 15px;
    padding: 6px;
    text-align: center;
    margin-block: 10px;
}


.subscription-info{
    min-height: 300px;
}

.subscription-info .no-data {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscription-info .no-data img {
    width: 300px;
}

.subscription-info .no-data a {
    text-decoration: none;
    background: linear-gradient(45deg, #ff4e5a, transparent);
    padding: 6px;
    border-radius: 3px;
    transition: 0.3s;
}

.subscription-info .no-data a:hover {
    box-shadow: 1px 1px 5px #9c27b0;
}

.data-table{
    display: block;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 18px;
}

th,td {
    padding: 6px 20px;
    text-align: left;
}

thead th {
    background-color: #f44336;;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
    background-color: #e9ecef;
}

.duration{
    display: flex;
    flex-direction: column;
}

.duration .countdown{
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.days, .hours, .mins, .secs{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #f44336;
    padding-inline: 13px;
}

.countdown .time{
    font-size: 1.5rem;
    font-weight: 600;
}

#expired, #activate{
    display: none;
    margin-block: 10px;
}



