@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url("../../root/root.css");


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #000000;
    color: white;
}

.logo {
    background-image: url('./assets/deltafitnessstudiologo.png');
    width: 200px;
    height: 62px;
    cursor: pointer;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #000000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul li {
    display: inline-block;
    padding: 6px 12px;
    background-color: #000000;
}

li a {
    font-size: 22px;
    /* font-weight: 400; */
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    /* font-weight: bold; */
    background-color: #000000;
}

li a:hover {
    /* color: #b60f00; */
    transition: all 0.5s ease-in-out;
    color: #f1b6b8;
}

.active {
    color: #f1b6b8;

}

.tab {
    background-color: #000000;
}

.navbar-container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    width: 100%;
    /* position: fixed; */
    z-index: 1;
}

.page-loading-bar {
    height: 20px;
    color: #b60f00;
    width: 100%;
}

.sign-in {
    display: block;
    padding-top: 6px;
    margin-right: 12px;
    background-color: #000000;
}

.user-profile {
    display: none;
    padding-top: 6px;
    padding-right: 20px;
    /* margin-right: 12px; */
    position: relative;
    /* right: 100px; */
    cursor: pointer;
    float: right;


}

.user-profile i {
    color: #4e5765;
    font-weight: 500;
}

.user-profile i:hover {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button{
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    font-family: Poppins;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content button:hover {
    background-color: #ddd;
}



.user-profile:hover .dropdown-content {
    display: block;
}

.sign-in a {
    font-size: 22px;
    border-style: solid;
    padding: 4px;
    border-width: 1px;
    border-color: white;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
}

.sign-in a:hover {
    background-color: #b60f00;
    transition: transform 0.5s ease-in-out;
    border-color: #b60f00;
}


/* cover image */

.image-container {
    overflow: hidden;
    height: 500px;
    width: 100%;
    text-align: center;
    
}

.image-container img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.cover-image {
    background-image: url('./assets/cover1.jpg');
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* slide show container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* hidding images by default */
.mySlides {
    display: none;
}

/* next and prev buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 36px;
    padding: 8px 40px;
    position: absolute;
    bottom: 8px;
    /* width: 100%; */
    text-align: center;
    text-transform: uppercase;
    bottom: 30%;
    text-align: start;
    font-weight: bolder;
    font-family: 'Noto Serif', serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.cover1 .text {
    color: #f2f2f2;
    font-size: 48px;
    padding: 8px 40px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    bottom: 30%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Noto Serif', serif;
}

.cover2 .text {
    color: #f2f2f2;
    font-size: 48px;
    padding: 8px 40px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    bottom: 30%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Noto Serif', serif;
}



.text #essential {
    color: #f63c25;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slidesDots .active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.btn-container {
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px;
}

.btn-container .button {
    width: 100%;
    height: 100%;
    margin: 0;
    /* line-height: 50px; */
    text-align: center;
    position: relative;
    top: 50%;
    /* left: 50%;  */
    color: white;
    animation: button 2s ease-out;
}

@keyframes button {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

.cover3 .btn-container {
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: 20px;
    padding: 8px;
}

.btn-container .button3 {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: left;
    position: relative;
    top: 50%;
    /* left: 10%;  */
    color: white;
    animation: button3 2s ease-out;
}

@keyframes button3 {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

#cover-btn {
    font-size: 18px;
    padding: 20px;
    background-color: #e12b17;
    color: white;
    border: none;
    font-weight: bolder;

}

#cover-btn:hover {
    transition: all 0.5s ease-in-out;
    background-color: #be1303;
    cursor: pointer;
}

.cover-text {
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
    font-family: 'Arial black';
    color: white;
    top: 50%;
    left: 50%;
    padding-top: 130px;
}

.about-fitness {
    font-family: 'Montserrat ExtraLight';
    color: white;
    font-size: 22px;
    padding: 20px 100px;
}

.about-fitness h3 {
    color: #767676;
    font-weight: bold;
}

/* group traning  */
.group-training {
    background-image: url('./assets/group-training.jpg');
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fly-in-container-group {
    transform: translateY(100%);
}

.animation-box {
    padding: 6px 4px;
    background-color: #0b111dd4;
    width: 45%;
    color: white;
    top: 50%;
    transform: translateX(0px);
    opacity: 0;
    transition: 1s all ease;
    font-size: 20px;
}

.animation-box .group-training-fly-in h2 {
    padding: 0px;
    color: #ef9a96;
}

.animation-box .group-training-fly-in .explore-more-link {
    font-weight: bold;
    text-decoration: none;
}

.animation-box .explore-more-link {
    padding-top: 4px;
}

.animation-box a {
    text-decoration: none;
    font-weight: bold;

}


.animation-box.show-box {
    opacity: 1;
    transform: translateX(50px);
}

/* personal training */
.personal-training {
    background-image: url('./assets/solo-training.jpg');
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 35px;
}

.fly-in-container-personal {
    transform: translate(100%, 130%);
    width: 50%;
}

.animation-box-personal {
    padding: 6px 4px;
    background-color: #0b111dd4;
    width: 500px;
    color: white;
    top: 50%;
    transform: translateX(0px);
    opacity: 0;
    transition: 1s all ease;

    font-size: 20px;
}

.animation-box-personal .group-training-fly-in h2 {
    padding: 0px;
    color: #ef9a96;
}

.animation-box-personal .group-training-fly-in .explore-more-link {
    font-weight: bold;
    text-decoration: none;
}

.animation-box-personal .explore-more-link {
    padding-top: 4px;
}

.animation-box-personal a {
    text-decoration: none;
    font-weight: bold;

}


.animation-box-personal.show-box-personal {
    opacity: 1;
    transform: translateX(-100px);
}




/* scroll to top bottom */

.scroll-to-top button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #b60f00;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0 0 10px #972e24;

}

.scroll-to-top button i {
    color: white;
}


/* more programs/offers */
.more {
    font-family: 'Edwardian Script ITC';
    color: #767676;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 7rem;
    text-align: center;
}

.more p {
    margin: 0px;
}

.more-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    padding: 0px 91px;
}

.grid-container {
    /* display: flex;
    flex-direction: column; */
    padding: 10px;
    width: 186px;
    overflow: hidden;
}

.grid-container .grid-image {
    background-image: url('./assets/diet.jpg');
    background-color: #cccccc;
    height: 157px;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;

}

.grid-container .grid-image-lab {
    background-image: url('./assets/lab.jpg');
    background-color: #cccccc;
    height: 157px;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;

}

.grid-container .grid-image-mobile {
    background-image: url('./assets/mobile.jpg');
    background-color: #cccccc;
    height: 157px;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;

}

.grid-container .grid-image-studio {
    background-image: url('./assets/ammen.png');
    background-color: #cccccc;
    height: 157px;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;

}

.grid-container .grid-image-childcare {
    background-image: url('./assets/childcare.jpg');
    background-color: #cccccc;
    height: 157px;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;

}

.grid-container .grid-image-childcare:hover {
    transform: scale(1.1);
}

.grid-container .grid-image-mobile:hover {
    transform: scale(1.1);
}

.grid-container .grid-image-studio:hover {
    transform: scale(1.1);
}

.grid-container .grid-image-lab:hover {
    transform: scale(1.1);
}

.grid-container .grid-image:hover {
    transform: scale(1.1);
}

.grid-container .grid-image:hover {
    transform: scale(1.1);
}

.grid-container .grid-title {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.grid-container .grid-description {
    text-align: center;
    padding-top: 10px;
    line-height: 1.5;
}

/* footer */


footer {
    background-color: #000000e8;
}

.footer {
    width: 100%;
    height: 50px;

}

.footer .address {
    padding-top: 10px;
    text-align: center;
    color: #767676;
}

.social-media {
    text-align: center;
    height: 65px;
    background-color: #b60f00;
}

.social-media .sm-icons {
    padding: 17px 0px;
}

.social-media i {
    color: #ffffffd6;
    padding: 0px 8px;
    cursor: pointer;
}

.social-media .sm-icons i:hover {
    color: white;
    box-shadow: 1px 1px 3px #26262647;
    padding: 2px 10px;
    transition: all 0.2s ease-in-out;
}

.about-footer {
    display: flex;
    flex-direction: column;
}

.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-container {
    padding: 8px;
}

.comment-box form input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;

}

.comment-box form #submit-btn {
    background-color: #b60f00;
    color: white;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
}

.footer-details .working-hours {
    padding-right: 100px;
}