@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url("../../root/root.css");
body{
    background-color: white;
}

#highlight{
    color:#f63c25;
}
.banner-container{
    width: 100%;
    background-color: black;
    text-align: center;
    position: relative;
}

.banner-container img{
    opacity: 0.3;
    position: relative;
}

.banner-container .banner-text{
    text-transform: uppercase;
    font-size: 54px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.services-container{
    color: black;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;

}

.services-container .services-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-container .services-post .row{
    flex-basis: 100%;
    padding: 0px 5px;
}
.services-container .services-post .row1{
    font-size: 54px;
    text-transform: uppercase;
    font-weight: bold;
}

.services-container .services-post .row2{
    font-size: 22px;
    text-align: left;
}

.services-container #highlight{
    color:#f63c25;
}

/* Our programs */

.programs-container{
    background-color: #000000e8;
}

.programs-container #highlight{
    color:#f63c25;
}
.programs-widget-container{
    display: flex;
    flex-direction: column;
    padding : 100px 20px;
}

.programs-widget-container .program-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    align-items: center;

}

.programs-widget-container .program-header .title{
    font-size: 42px;
    text-transform: uppercase;
}

.programs-widget-container .program-header .title h1{
    margin:0px;
}

.programs-widget-container .program-header .info{
    text-align: center;
}

.programs-widget-container .program-data{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: stretch
}

.program-data {
    padding-top: 20px;
}

.program-data .card-container{
    padding: 4px 6px;
    background-color: black;
    border: solid;
    border-width: 1px;
    border-color: #636363b7;
}
.program-data .card {
  padding: 4px 8px;
}
.program-data .card .card-info h1{
    font-size: 50px;
    color:#7a7a7a;
    font-weight: bolder;
}

.program-data .card .card-info  #extra-info{
    padding: 4px 1px;
}

.program-data .card .card-info h1 #highlight{
    font-size: 20px;
}

.program-data .card .card-info{
    font-size: 20;
    text-transform: uppercase;
    padding: 20px 0px;

}
.program-data .card .card-image{
    background-image: url('./assets/coach4.jpg');
    background-color: #cccccc;
    height: 200px;
    /* border-radius: 50%; */
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    padding-top: 4px;
    padding-bottom: 8px;
}

/* trainers */

.our-trainers {
    color: #767676;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 20px 1px;
}

.our-trainers p {
    margin: 0px;
}

.trainers-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    padding: 0px 91px;

}

.trainers-grid-container .trainer1-grid-image {
    background-image: url('./assets/coach1.jpg');
    background-color: #cccccc;
    height: 260px;
    border-radius: 50%;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    /* cursor: pointer; */

}


.trainers-grid-container .trainer2-grid-image {
    background-image: url('./assets/coach2.jpg');
    background-color: #cccccc;
    height: 260px;
    border-radius: 50%;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    /* cursor: pointer; */

}

.trainers-grid-container .trainer3-grid-image {
    background-image: url('./assets/coach3.jpg');
    background-color: #cccccc;
    height: 260px;
    border-radius: 50%;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    /* cursor: pointer; */

}

.trainers-grid-container .trainer4-grid-image {
    background-image: url('./assets/coach4.jpg');
    background-color: #cccccc;
    height: 260px;
    border-radius: 50%;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
    /* cursor: pointer; */

}



.trainers-grid-container .trainer-grid-name {
    text-align: center;
    width: 100%;
    color: white;
    /* bottom: 6px; */
    background-color: #f63c25;
    padding: 0px 0px;
    /* animation: trainer-grid-name 3s ease-out; */
   
}



/* @keyframes trainer-grid-name{
    0%{
        transform: translateY(200%);
    } 100%{
        transform: translateY(0%);
    }
} */








